@import url("./fonts.css");

body {
    font-family: "Roboto", sans-serif;
    background-color: gray;
}

.container {
    width: 200px;
    height: 200px;
    border: 1px solid red;
}

.logo {
    background-image: url("../assets/images/icon-square-big.png");
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}